.parallax {
    /* The image used */
    background-image: url("images/background.jpg");
  
    /* Set a specific height */
    min-height: 70vh;
    
    padding-top:0px;
    padding-bottom: 0px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-color: transparent;
}

.heading {
    font-family: "Lucida Console", Monaco, monospace;
font-size: 40px;
letter-spacing: 6px;
word-spacing: 6px;
color: darkred;
font-weight: 400;
text-decoration: overline solid rgb(68, 68, 68);
font-style: normal;
font-variant: small-caps;
text-transform: capitalize;
text-align: center;

}

.navbar {
    background-color: darkred;
}


.pop {
    padding-top:20px;
    padding-bottom:20px;
    border-top: 6px solid grey;
    text-align: center;
}


.container-fluid {
    padding-left:0px !important;
    padding-right:0px !important;
}
